theme = "zenbones_light"

[editor]
scrolloff = 8
completion-trigger-len = 1
true-color = true
color-modes = true
cursorline = true
line-number = "relative"
mouse = true
auto-format = true
bufferline = "multiple"
end-of-line-diagnostics = "hint"
rainbow-brackets = true

[editor.soft-wrap]
enable = true

[editor.statusline]
left = ["mode", "version-control", "spinner"]
center = ["file-name"]
right = ["register", "position", "diagnostics", "file-type"]

[editor.lsp]
auto-signature-help = false
display-inlay-hints = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.whitespace.render]
space = "none"
tab = "all"

[editor.indent-guides]
render = true
character = "â–"

[editor.inline-diagnostics]
cursor-line = "error"
other-lines = "disable"

# keys
[keys.normal]
C-r = ":config-reload"
V = ["select_mode", "extend_to_line_bounds"]
esc = ["collapse_selection", "keep_primary_selection"]

"K" = ["hover"]
"H" = "goto_previous_buffer"
"L" = "goto_next_buffer"
"C-space" = "expand_selection"

p = ["paste_clipboard_after", "collapse_selection"]
P = ["paste_clipboard_before", "collapse_selection"]
y = ["yank_main_selection_to_clipboard"]

i = ["insert_mode", "collapse_selection"]
a = ["append_mode", "collapse_selection"]

"*" = [
  "move_char_right",
  "move_prev_word_start",
  "move_next_word_end",
  "search_selection",
  "search_next",
]
"#" = [
  "move_char_right",
  "move_prev_word_start",
  "move_next_word_end",
  "search_selection",
  "search_prev",
]


[keys.select]
i = "select_textobject_inner"
a = "select_textobject_around"

d = ["yank_main_selection_to_clipboard", "delete_selection"]
y = [
  "yank_main_selection_to_clipboard",
  "normal_mode",
  "flip_selections",
  "collapse_selection",
]
p = "replace_selections_with_clipboard"
P = "paste_clipboard_before"

k = ["extend_line_up", "extend_to_line_bounds"]
j = ["extend_line_down", "extend_to_line_bounds"]

esc = ["collapse_selection", "keep_primary_selection", "normal_mode"]

[keys.insert]
esc = ["collapse_selection", "normal_mode"]
"j" = { k = ["collapse_selection", "normal_mode"] }
"C-space" = "completion"
"A-i" = "signature_help"

[keys.normal.g.c]
c = "toggle_comments"
C = "toggle_block_comments"

[keys.select.g.c]
c = "toggle_comments"
C = "toggle_block_comments"

[keys.normal.space.c]
r = "rename_symbol"
a = "code_action"

[keys.normal.space]
e = [
  ":sh rm -f /tmp/yazi-helix-unique-file",
  ":insert-output yazi %{buffer_name} --chooser-file=/tmp/yazi-helix-unique-file",
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ":open %sh{cat /tmp/yazi-helix-unique-file}",
  ":reload-all",
  ":redraw",
]

E = [
  ":sh rm -f /tmp/yazi-helix-unique-file",
  ":insert-output GO_ROOT=1 yazi %{buffer_name} --chooser-file=/tmp/yazi-helix-unique-file",
  ':insert-output echo "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ":open %sh{cat /tmp/yazi-helix-unique-file}",
  ":reload-all",
  ":redraw",
]

space = "buffer_picker"

g = [
  ":write-all",
  ":new",
  ":insert-output lazygit",
  ":set mouse false",
  ":set mouse true",
  ":buffer-close!",
  ":redraw",
  ":reload-all",
]

# buffer
[keys.normal.space.b]
f = "buffer_picker"
d = ":buffer-close"
a = ":buffer-close-all"
o = ":buffer-close-others"
r = ":rla"
