theme = "onelight"

[editor]
scrolloff = 8
cursorline = true
line-number = "relative"
mouse = true
auto-format = true
bufferline = "multiple"
end-of-line-diagnostics = "hint"

[editor.soft-wrap]
enable = true

[editor.statusline]
left = ["mode", "version-control", "spinner"]
center = ["file-name"]
right = ["register"]

[editor.lsp]
auto-signature-help = false
display-inlay-hints = true

[editor.cursor-shape]
insert = "bar"

[editor.whitespace.render]
space = "none"
tab = "all"

[editor.indent-guides]
render = true

[editor.inline-diagnostics]
cursor-line = "error"
other-lines = "disable"

[keys.normal]
esc = ["collapse_selection", "keep_primary_selection"]
"K" = ["hover"]
"H" = "goto_previous_buffer"
"L" = "goto_next_buffer"


[keys.insert]
"j" = { k = "normal_mode" }
"C-space" = "completion"
"C-x" = "signature_help"

[keys.normal.g.c]
c = "toggle_comments"
C = "toggle_block_comments"

[keys.normal.space]
# e = ":sh zellij run -fc -x 10% -y 10% --width 80% --height 80% -- bash ~/.config/helix/yazi-picker.sh open"
# g = ":sh zellij run -fc -x 10% -y 10% --width 80% --height 80% -- lazygit"
g = [":sh wezterm cli split-pane --right -- lazygit"]
e = [":sh helix_pane=$WEZTERM_PANE wezterm cli split-pane --right -- ~/.config/helix/wezterm-yazi.sh open"]

[keys.normal.space.c]
r = "rename_symbol"
a = "code_action"
l = [':sh wezterm cli split-pane --bottom -- ~/.config/helix/eslint-fix.sh']

# buffer
[keys.normal.space.b]
f = "buffer_picker"
c = ":buffer-close"
a = ":buffer-close-all"
o = ":buffer-close-others"
r = ":rla"

# goto
[keys.normal.g]
D = ["vsplit", "jump_view_left", "goto_definition", "swap_view_right"]
Y = ["vsplit", "jump_view_left", "goto_type_definition", "swap_view_right"]

[keys.select]
"{" = ["goto_prev_paragraph"]
"}" = ["goto_next_paragraph"]
