[language-server.typescript-language-server.config]
plugins = [{  name = "@vue/typescript-plugin", location = "/Users/chenshengtai/.local/share/mise/installs/node/22.17.1/lib/node_modules/@vue/language-server", languages = ["vue"] }]

[language-server.volar]
command = "vue-language-server"
args = ["--stdio"]

[language-server.volar.config]
vue = { hybridMode = false }
typescript = { tsdk = "/Users/chenshengtai/.local/share/mise/installs/node/22.17.1/lib/node_modules/typescript/lib" }

[language-server.eslint]
command = "vscode-eslint-language-server"
args = ["--stdio"]

[language-server.eslint.config]
validate = "on"
experimental = { useFlatConfig = true }
rulesCustomizations = []
run = "onType"
problems = { shortenToSingleLine = false }
nodePath = ""

[language-server.eslint.config.codeAction]
[language-server.eslint.config.codeAction.disableRuleComment]
enable = true
location = "separateLine"

[language-server.eslint.config.codeAction.showDocumentation]
enable = true

[language-server.eslint.config.workingDirectory]
mode = "location"

[[language]]
name = "vue"
scope = "source.vue"
injection-regex = "vue"
file-types = ["vue"]
roots = ["package.json", ".git"]
auto-format = true
language-servers = ["typescript-language-server", "tailwindcss-ls", "eslint"]
formatter = { command = 'npx', args = ["prettier", "--parser", "vue"] }


[[language]]
name = "javascript"
language-servers = ["typescript-language-server", "vscode-eslint-language-server"]
auto-format = true
formatter = { command = 'npx', args = ["prettier", "--parser", "typescript"] }

[[language]]
name = "typescript"
language-servers = ["typescript-language-server", "eslint"]
auto-format = true
formatter = { command = 'npx', args = ["prettier", "--parser", "typescript"] }

[[language]]
name = "tsx"
language-servers = ["typescript-language-server", "eslint"]
auto-format = true
formatter = { command = 'npx', args = ["prettier", "--parser", "typescript"] }

[[language]]
name = "jsx"
language-servers = ["typescript-language-server", "eslint"]
auto-format = true
formatter = { command = 'npx', args = ["prettier", "--parser", "typescript"] }

[[language]]
name = "json"
auto-format = false
formatter = { command = 'npx', args = ["prettier", "--parser", "json"] }


[language-server.tailwindcss-ls]
command = "tailwindcss-language-server"
args = ["--stdio"]

[[language]]
name = "html"
language-servers = [ "vscode-html-language-server", "tailwindcss-ls" ]

[[language]]
name = "css"
language-servers = [ "vscode-css-language-server", "tailwindcss-ls" ]

[[language]]
name = "jsx"
language-servers = [ "typescript-language-server", "tailwindcss-ls" ]

[[language]]
name = "tsx"
language-servers = [ "typescript-language-server", "tailwindcss-ls" ]

[[language]]
name = "svelte"
language-servers = [ "svelteserver", "tailwindcss-ls" ]
